/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 de mar. de 2023, 09:23:19
    Author     : NTI2
*/

.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
}

